/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* DISCLAIMER MESSAGE */

.disclaimer-container {
  position: fixed;
  top: 5px;
  z-index: 10;
  display: grid;
  justify-content: center;
  width: 100%;
  color: white;
}

.disclaimer {
  max-width: 720px;
  display: grid;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 20%);
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.disclaimer button {
  justify-self: end;
  border: none;
  background: none;
  color: white;
}

.disclaimer h2 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  font-size: 28px;
}

.disclaimer h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}


.disclaimer p {
  font-size: 20px;
}

.close {
  display: none;
}


/* GENERAL */

.is-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-photo-rounded{
  border-radius: 50%;;
}


/* NAVBAR */

nav{
  position: fixed;
  top: 0;
  height: 3.5em;
  width: 100%;
  display: grid;
  grid-template-columns: 10% auto 15%;
  background-color: #262626;
  color: white;
}
a{
  text-decoration: none;
}
.nav-start{
  display: flex;
  justify-content: space-evenly;
}
.nav-brand{
  display: flex;
  justify-content: center;
}
#logo-youtube{
  display: block;
  height: 1.25em;
}

#homepage-link{
  margin: auto;
}

/* SEARCH BAR AND BUTTONS*/

.nav-search{
  width: 50%;
}
.input-search{
  width: 80%;
  padding-left: 1em;
  margin-left: 2em;
  background-color: black;
  border: 1px solid #404040;
  height: 2em;
  border-radius: 3px 0 0 3px;
  font-size: .9em;
  color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1; /* Firefox */
}

#search-form{
  width: 100%;
  display: flex;
  justify-content: center;
}

#btn-search{
  background-color:#404040;
  border: #404040;
  color: #666;
  font-size: .9em;
  width: 4.75em;
}
#micro-icon{
  font-size: 1.25em;
  padding-left: .75em;
  margin: auto;
}

/* SIGN IN BUTTON AND SETTINGS BUTTONS */

.nav-end{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#btn-login{
  height: 100%;
  border: 1px solid hsl(204, 86%, 53%);
  border-radius: 3px;
  background-color: #262626;
  color: hsl(204, 86%, 53%);
  font-size: .9em;
  text-align: center;
}
#user-icon{
  font-size: 1.75em;
  vertical-align: middle;
  margin-right: .25em;
}
#form-login{
  height: 75%;
}


/* CONTENT OF PAGE */

.main-content{
  display: flex;
  height: 200vh;
  margin-top: 3.5em;;
  padding-top: 1.5em;
  background-color: #1a1a1a;
}

/* LIST RECOMENDED VIDEOS */

.recommended-videos{
  padding-left: 2em;
  width: 21%;
}

.video-list-item{
  display: flex;
  margin-bottom: .75em;
}

.thumbnail-container{
  width: 160px;
  height: 120px;
}
.thumbnail{
 width: auto;
 height: 100%;
}

.video-info{
  color: white;
  margin-left: .5em;
}
.extra-info{
  margin-top: .75em;
  font-size: .75em;
  line-height: 1.5em;
}
/* CONTENT OF THE VIDEOS. FRAME, INFO AND COMMENTS */

#video-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 72%;
}
.video-frame{
  height: 720px;
  width: 1280px;
}

/* TITLE OF THE VIDEO */

.video-stats{
  width: 1280px;
  margin-top: 1em;
  border-bottom: 1px solid grey;
}
.video-stats #title{
  color: white;
  margin-top: .25em;
}
.hashtags{
  font-size: .75em;
}
.hashtags > a{
  color: hsl(204, 86%, 53%);
}
.stats{
  margin-top: 1em;
  display: flex;
  justify-content: end;
  margin-bottom: .5em;
  color: #cccccc;
}
.views-date{
  margin-right: auto;
  font-size: .85em;
}
.share-link > a{
  margin: .5em;
  color: inherit;
}
.share-icons{
  margin-right: .25em;
  font-size: 1.25em;
  vertical-align: middle;
}

/* VIDEO DESCRIPTION */

.video-description{
  margin-top: 1em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid grey;
  width: 1280px;
}
.video-description > p{
  margin: 1em 0 2em 4em;
  color: white;
}
.video-description > p > a{
  color: hsl(204, 86%, 53%);
}
.start-description{
  display: flex;
  justify-content: end;
  align-items: center;
}
.info-channel{
  margin-right: auto;
  display: flex;
  align-items: center;
}
.info-channel > p{
  margin-left: 1em;
  color: grey;
}
#link-channel{
  font-size: 1em;
  color: white;
}
#sub-count{
  font-size: .75em;
}
#sub-button{
  padding: .5em 1em;
  font-size: 1.05em;
  background-color: red;
  color: white;
  border-radius: 3px;
  border: red 1px solid;
}
#btn-expand{
  margin-left: 4.5em;
  background-color: inherit;
  border: none;
  color: #ccc;
}

/* COMMENT SECTION */

.comment-content{
  margin-top: 1em;
  width: 1280px;
}
.comment-info{
  display: flex;
  color: white;
}
.comment-info > span{
  margin-left: 2em;
  color: #ccc;
}
.comment-form{
  display: flex;
  margin-top: 1em;
}
.comment-form > form{
  margin-left: 1em;
  width: 100%;
}

#comment-input{
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  background-color: inherit;
  color: #ccc;
}

/* SINGLE COMMENT */

.comment-container{
  display: flex;
  align-items: center;
  margin-top: 2em;
  color: white;
}
.comment-container > div{
  margin-left: 1em;
}
.comment-user{
  margin-bottom: .5em;
}
.comment-user :only-child {
  font-size: .75em;
  color: #ccc;
}
.comment-body > div{
  margin-top: 1em;
}

.comment-body > div > a{
  margin-right: 1em;
  color: #ccc;
  font-size: .85em;
}
.comment-expand{
  margin-top: .5em;
  margin-left: 6em;
  font-size: .80em;
  vertical-align: middle;
}
.comment-expand > a{
  color: #ccc;
}
.fa-sort-down{
  font-size: 1.25em;
  padding-right: 1em
}